version: '3.3'
services:
  db_sql:
    image: postgres:17.5-alpine3.22
    container_name: postgres
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres
volumes:
  postgres_data:

networks:
  postgres: